@model IEnumerable<Concert.Data.Entities.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Validacion de Tickets</h1>

<p>
    <a asp-action="Edit" class="btn btn-secondary btn-lg btn-block">Validar Ticket</a>
</p>

